@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: Jost, sans-serif;
}

.bg-custom-radial {
  background-image: radial-gradient(ellipse at top right, #E84D70 0%, #A337F6 53%, #28A7ED 100%);
}

.dropdown-shadow {
  box-shadow: 0 10px 40px -7px rgba(55,63,104,0.35);
}

.toast-close-anim {
  width: 100%;
  height: 100%;
  animation: animate-close;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  transform-origin: left;
}

@keyframes animate-close {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
